#carouselExampleControls{
    height: 50%;
    padding: 2rem;
}

    .carousel-inner{
        height: 100%;
    }

        .carousel-item {
            height:100%;
        }


    .carousel-item img {
        height:100%;
    }

  #carouselExampleControls {
    height:30rem;
  }

  body {
    background-image:url(pexels-egor-kamelev.jpg) ;
  }

  h1 {
    color: aliceblue;
    text-align: center;
  }

  .card {
    width: 25rem;
    height: 50rem;
  }