body {
    background-image: url(background-inscription.jpg);
   font-weight: bold;
   font-style: oblique;
   font-size: large;
       }

h1 {
    color: aliceblue;
    height: 10rem;
    margin-top: 5rem;
    text-align: center;
}

#inscription {
    background-color: rgb(250, 235, 215, 0.4);
    height: 35rem;
}